.minion-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 16px;
}

.minion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 48px;
  width: 48px;

  background-color: #202020;

  cursor: pointer
}

.minion_selected {
  box-shadow: 0 0 0 4px white;
}

.minion__avatar {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  box-sizing: border-box;
  padding: 4px;

  image-rendering: pixelated;
}

.minion__health-bar {
  width: 100%;
  height: 4px;
}

.minion__points {
  background-color: #72e6be;

  height: 100%;
}
