.touch-controls__row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.touch-controls__action + .touch-controls__action {
  margin-left: 10px;
}

.touch-controls__jump {
  margin: 12px 0px 0px 12px;
}
