.touch-controls__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.touch-controls__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;

  background: none;
  border: 4px solid white;
  border-radius: 50%;

  font-size: 32px;
  color: white;
}

.touch-controls__button_s {
  width: 48px;
  height: 48px;

  font-size: 28px;

  margin: 12px 8px 8px 12px;
}

.touch-controls__button:active {
  background-color: white;
}