.thumb-stick-control__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumb-stick-control__button {
  width: 100%;
}

.thumb-stick-control__title {
  display: block;
  margin-top: 10px;
}

.thumb-stick-control__panel {
  margin-bottom: 5px;
}
